/********RESET*******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #111;
  line-height: 1.6;
}


.emergency {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}


.emergency-intro {
  text-align: center;
  margin-bottom: 60px;
}

.emergency-intro h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.emergency-intro p {
  max-width: 650px;
  margin: 0 auto 25px;
}

.emergency-link {
  display: inline-block;
  padding: 12px 26px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}


.emergency-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}


.emergency-item {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}


.emergency-item img {
  width: 100%;
  max-width: 240px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}


.emergency-item h2 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.emergency-item p {
  font-size: 0.95rem;
  color: #555;
}


@media (min-width: 700px) {
  .emergency-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/***********Desktop********/
@media (min-width: 1000px) {
  .emergency-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
